.container {
	padding-top: 55px; 
	padding-left: 88px !important; 
	padding-right: 88px !important;
}

.logo {
 
}

.botones {
	top: 45px;

}

.inicio {
	top: 22px;
}

.cuadrado {
	
	
	background: url("imagenes/cuadrado2.png");
	top: 20px ;
}

.image1 {
	top: 10px;
}

.cuatexto {
	display: flex; 
	justify-content: center;
	align-items: center;
	left: 200px;
	width: 50px ;
	background: #fff ;
	position: absolute;



}

.letra {
	color: #fff;
}
.imadc {
	left: 45px ;
}

.ultimo {
	height: 200px;
	width: 1273px;
	background: #0a0a0a;
	position: absolute;
	left: -70px;
}

.imalo {
	left: 300px;
	top: 20px;
}

.info {
	top: 50px;
	color: #fff;
}

